.pills {
  display: flex;

  a {
    background: $gray-5;
    border-radius: 5px;
    color: $gray-1;
    font-size: 1.3em;
    font-weight: 300;
    margin-left: 10px;
    padding: 8px 18px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover,
      &:focus {
        background: rgba($teal, 0.15);
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25),
          0 5px 5px rgba(0, 0, 0, 0.22);
        text-decoration: none;
      }
  }

}